@keyframes shine {
    to {
        background-position: 200% center
    }
}

.shine-text {
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    background-size: 200% auto;
    animation: shine 1.5s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.hover-rise:hover {
    transform: translateY(-4px);
    transition: transform 0.3s;
}